{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/homepage.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}" ></noscript>
{% endblock %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.namvietphatcorp.com/",
        "logo": "https://www.namvietphatcorp.com/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84979274245",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.namvietphatcorp.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.namvietphatcorp.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        {% for blockOnHomepage in blocksOnHomepage %}
            <div class="wrapper-container-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 title-list-news-items">
                            <p class="text-uppercase text-center p-title-news-items">
                                <a href="{{ path('news_category', {'level1': blockOnHomepage.category.getUrl() }) }}" title="{{ blockOnHomepage.category.getName() }}">{{ blockOnHomepage.category.getName() }}</a>
                            </p>
                            <span class="block-underline"></span>
                            <p>{{ blockOnHomepage.description }}</p>
                            
                            {% if blockOnHomepage.listSubTabs|length > 0 %}
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-sub-cat" role="tablist">
                                    {% for listSubTab in blockOnHomepage.listSubTabs %}
                                        <li role="presentation" {{ loop.index == 1 ? 'class="active"' : '' }}><a href="#tab_{{ listSubTab.subCategory.getId() }}" role="tab" data-toggle="tab">{{ listSubTab.subCategory.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        {% if blockOnHomepage.listSubTabs|length > 0 %}
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for listSubTab in blockOnHomepage.listSubTabs %}
                                    <div role="tabpanel" class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="tab_{{ listSubTab.subCategory.getId() }}">
                                        <div class="col-md-12 list-news-items">
                                            <div class="row">
                                                {% for row in listSubTab.posts %}
                                                    {% include 'news/components/itemsGridHomepage.html.twig' with {'category': listSubTab.subCategory} %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-12 view-all-category text-center">
                                            <a href="{{ path('list_category', {'level1': blockOnHomepage.category.getUrl(), 'level2': listSubTab.subCategory.getUrl() }) }}">Xem tất cả bài viết</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="col-md-12 list-news-items">
                                <div class="row">
                                    {% for row in blockOnHomepage.posts %}
                                        {% include 'news/components/itemsGridHomepage.html.twig' with {'category': blockOnHomepage.category} %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-12 view-all-category text-center">
                                    <a href="{{ path('news_category', {'level1': blockOnHomepage.category.getUrl() }) }}">Xem tất cả bài viết</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}