<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-sm-6 col-md-12 col-lg-4 footer-top-col-2">
                <h3 class="text-uppercase">CÔNG TY CỔ PHẦN HƯNG THỊNH LAND</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i> Địa chỉ: <span>{{ get_setting('companyAddress') }}</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> Điện thoại: <span>{{ get_setting('hotLine1') }}</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i> Email: <span>{{ get_setting('emailContact') }}</span>
                    </li>
                    <li>
                        <i class="fab fa-gitkraken"></i> MST: <span>{{ get_setting('tax') }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-lg-4 footer-top-col-2">
                <h3 class="text-uppercase">Kết nối với chúng tôi</h3>
                <div class="footer-social-wrapper">
                    <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Nam Việt Phát trên Facebook" rel="nofollow noreferrer">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Nam Việt Phát trên Youtube" rel="nofollow noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <h3 class="text-uppercase">Hotline</h3>
                <div class="footer-hotline-wrapper">
                    <i class="fa fa-phone"></i> <span>{{ get_setting('hotLine1') }}</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-lg-4 footer-top-col-3">
                <h3 class="text-uppercase">Nhận thông tin từ chúng tôi</h3>
                <div class="footer-company">
                    {{ render(controller(
                        'AppBundle:Homepage:renderFormContact'
                    )) }}
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>Copyright © {{ "now"|date('Y') }} <a href="{{ get_setting('companyWebsite') }}" title="{{ get_setting('siteName') }}">{{ get_setting('siteName') }}</a>, all rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->