<div id="nav">
    <div class="nav-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand navbar-brand-left">
                                <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                                    <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}" width="130" height="98" >
                                </a>
                            </div>
                            <div class="wp90 pull-right hidden-lg">
                                <div class="info-nd">
                                    <p class="tel text-uppercase"><i class="fas fa-mobile"></i> <a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine1') }}</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-brand">
                            {{ knp_menu_render('AppBundle:Builder:mainMenu', {
                                'allow_safe_labels': true,
                            })|raw }}

                            <div class="collapse navbar-collapse">
                                <div class="wp90 pull-right">
                                    <div class="info-nd">
                                        <p class="tel text-uppercase"><i class="fas fa-mobile"></i> <a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine1') }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>